<div class="container">
  <hr>
  <form #carForm="ngForm" (ngSubmit)="submit(car)">
    <div class="form-group">
      <label>Model</label>
      <input #model="ngModel" [(ngModel)]="car.model" name="model" type="text" class="form-control" required minlength="2">
      <div *ngIf="model.invalid && (model.dirty || model.touched)"
           class="alert alert-danger">
        <div *ngIf="model.errors.required">
          Model is required.
        </div>
        <div *ngIf="model.errors.minlength">
          Model must be at least 2 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Mark</label>
      <input #mark="ngModel" [(ngModel)]="car.mark" name="mark" type="text" class="form-control" required minlength="2">
      <div *ngIf="mark.invalid && (mark.dirty || mark.touched)"
           class="alert alert-danger">
        <div *ngIf="mark.errors.required">
          Mark is required.
        </div>
        <div *ngIf="model.errors.minlength">
          Mark must be at least 2 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Number of doors</label>
      <input #numberOfDoors="ngModel" [(ngModel)]="car.numberOfDoors" name="numberOfDoors" type="text" class="form-control" required>
      <div *ngIf="numberOfDoors.invalid && (numberOfDoors.dirty || numberOfDoors.touched)"
           class="alert alert-danger">
        <div *ngIf="numberOfDoors.errors.required">
          Number Of Doors is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Max Speed</label>
      <input #maxSpeed="ngModel" [(ngModel)]="car.maxSpeed" name="maxSpeed" type="text" class="form-control" required>
      <div *ngIf="maxSpeed.invalid && (maxSpeed.dirty || maxSpeed.touched)"
           class="alert alert-danger">
        <div *ngIf="maxSpeed.errors.required">
          Max Speed is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Year</label>
      <select #year="ngModel" [(ngModel)]="car.year" name="year" class="form-control" required>
        <option *ngFor="let year of years">{{ year }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="!year.dirty && carForm.dirty && year.empty">
        Year is required.
      </div>
    </div>
    <div class="form-group">
      <label>Engine:</label>
      <br>
      <input [(ngModel)]="car.engine" type="radio" name="engine" value="diesel" required #engine="ngModel"> Disel
      <br>
      <input [(ngModel)]="car.engine" type="radio" name="engine" value="petrol" required #engine="ngModel"> Petrol
      <br>
      <input [(ngModel)]="car.engine" type="radio" name="engine" value="hybrid" required #engine="ngModel"> Hybrid
      <br>
      <input [(ngModel)]="car.engine" type="radio" name="engine" value="electric" required #engine="ngModel"> Electric
      <br>
      <div class="alert alert-danger" *ngIf="!engine.dirty && carForm.dirty">
        engine required.
      </div>
    </div>
    <br>
    <div>
      <label>Type of engine</label>
      <br>
      <input [(ngModel)]="car.isAutomatic" type="checkbox" name="isAutomatic"> Automatic
      <br>
    </div>

    <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="carForm.form.invalid">Submit</button>
      <button type="reset" class="btn btn-danger mr-2">Reset</button>
      <button type="button" (click)="previewForm()" class="btn btn-default mr-2">Preview</button>
    </div>
  </form>
</div>
